[submodule "ethboot-5/lib/forge-std"]
	path = ethboot-5/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "ethboot-5/lib/openzeppelin-contracts"]
	path = ethboot-5/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
